.flexColChild--payment-methods{
  align-self: center;
}

@media only screen and (max-width: 640px) {

  .flexRow--content-footer-intitucional .stretchChildrenWidth{
    width:50% !important;
    display:inline-flex;
  }
  .flexRow--content-footer-intitucional .flexColChild{
    align-self: center;
  }
  .flexColChild--mainPriceContainer{text-align: center;}

}

@media only screen and (min-width: 640px) {
  .flexRow--deals {
    background-color: #a7afbd;
    padding: 14px 0px;
  }
  
  .flexRow--deals  .stretchChildrenWidth {
    align-items: center;
  }
  
  .flexRow--deals .flexCol {
    align-items: center;
  }

  .flexRow--footerSecond{
    background-color: #00a917;
    margin-top: 65px;
  }

  .flexRow--mainBuyButton button{
    color: #fff;
    cursor: pointer;
    width: 75%;
    box-sizing: border-box;
    text-align: center;
    background: #FB750D;
    border-radius: 10px 0;
    font-size: 24px !important;
    padding: 5px;
    font-weight: 600;
  }

  .flexRow--productAllInfo{
    width: 80%;
    margin: 0px auto;
  }

  .flexRow--breadcrumbMain{
    width: 80%;
    margin: 0px auto;
  }

  
}