@media only screen and (min-width: 640px) {
.container{
    overflow: hidden;
    text-indent: 0;
    border-radius: 10px 0px;
    background-color: #fb750d;
    color: #fff;
    width: 170px;
    margin: 10px;  
}

.container button{
    font-size: 0;
    color: #fff !important;
    top: 0;
    right: 0;
    width: 170px;
    text-align: left;
    background: #fb750d !important;
    position: relative;
}

.container button:after{
    content: "MEU CARRINHO";
    color: #fff;
    font-size: 12px;
    background-repeat: no-repeat;
    position: absolute;
    top: 11px;
    left: 35px;
}

.container button:hover{
    background: #fb750d;
}

.container button div:nth-child(1){
    justify-content: left;
}

.container svg{
    color: #fff;
}
.badge{
    background: #0000;
    font-size: 17px;
    right: -127px;
    top: -2px;
}
.content h1 span{
    font-size: 14px !important;
}
}

@media only screen and (max-width: 640px) {
    .content *{font-size: .9rem !important;text-align:left !important;}
    .contentDiscount *{
        font-size: .8rem !important;
        font-style: italic;
        color: #aaa !important;
        font-weight: normal !important;        
    }
}