@media only screen and (min-width: 640px) {
  .row--menu-row {
    padding-right: 24px;
  }

  .row--menu-row .rowContainer {
    align-items: flex-start;
  }

  .row--payment-methods {
    padding-top: 16px;
  }

  .acceptedPaymentMethodContainer{
    margin-left: 10px;
  }

  .socialNetworksContainer{
    margin: 0px 10px;
  }
}

@media only screen and (max-width: 640px){

  .footerLayout{
    border-top: 2px solid #eee;
    padding-top: 1em;
    background: #f9f9f9;    
  }  

}